DEAD_CODE_STRIPPING_DEV = NO
DEAD_CODE_STRIPPING_PROD = YES
DEAD_CODE_STRIPPING = $(DEAD_CODE_STRIPPING_$(CONFIGURATION))

DEBUG_INFORMATION_FORMAT_DEV = dwarf
DEBUG_INFORMATION_FORMAT_PROD = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT = $(DEBUG_INFORMATION_FORMAT_$(CONFIGURATION))

EXCLUDED_ARCHS[sdk=iphonesimulator*] = x86_64
